<%#
	edge is a clean HTML5 theme for LuCI. It is based on luci-theme-material edge Template

	luci-theme-edge
	Copyright 2020 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-edge/issues 

	luci-theme-material: 
	Copyright 2015 Lutty Yang <lutty@wcan.in>
	
	Agron Theme
	https://demos.creative-tim.com/edge-dashboard/index.html 

	Licensed to the public under the Apache License 2.0
-%>

<%
    local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")
	local node = disp.context.dispatched
    local fs	= require "nixio.fs"
    local nutil = require "nixio.util"
    local uci = require 'luci.model.uci'.cursor()
    
	-- send as HTML5
	http.prepare_content("text/html")
    
    math.randomseed(tonumber(tostring(os.time()):reverse():sub(1, 9)))

    -- Custom settings
	local mode = 'normal'
	local dark_css = fs.readfile('/www/luci-static/rooter2023/css/dark.css')
	local bar_color = '#5e72e4'
	local primary, dark_primary, blur_radius, blur_radius_dark, blur_opacity
	if fs.access('/etc/config/rooter2023') then
		primary = uci:get_first('rooter2023', 'global', 'primary')
		dark_primary = uci:get_first('rooter2023', 'global', 'dark_primary')
		blur_radius = uci:get_first('rooter2023', 'global', 'blur')
		blur_radius_dark = uci:get_first('rooter2023', 'global', 'blur_dark')
		blur_opacity = uci:get_first('rooter2023', 'global', 'transparency')
		blur_opacity_dark = uci:get_first('rooter2023', 'global', 'transparency_dark')
		mode = uci:get_first('rooter2023', 'global', 'mode')
		bar_color = mode == 'dark' and dark_primary or primary
    end
    
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">

<head>
    <meta charset="utf-8">
    <title>
        <%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %>
        - LuCI</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-page-mode" content="app">
    <meta name="browsermode" content="application">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="<%=bar_color%>">
    <meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
    <meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
    <link rel="apple-touch-icon" sizes="60x60" href="/luci-static/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/luci-static/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/luci-static/icon/apple-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/luci-static/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/luci-static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/luci-static/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/luci-static/icon/favicon-16x16.png">
    <link rel="manifest" href="/luci-static/icon/manifest.json">
    <meta name="msapplication-TileColor" content="<%=bar_color%>">
    <meta name="msapplication-TileImage" content="/luci-static/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="<%=bar_color%>">
    <link rel="stylesheet" href="<%=media%>/css/cascade.css?v=<%=math.random(1,100000)%>">
    <style title="text/css">
        <% if fs.access('/etc/config/rooter2023') then %>
        :root {
            --primary: <%=primary%>;
            --dark-primary: <%=dark_primary%>;
            --blur-radius:<%=blur_radius%>px;
            --blur-opacity:<%=blur_opacity%>;
            --blur-radius-dark:<%=blur_radius_dark%>px;
            --blur-opacity-dark:<%=blur_opacity_dark%>;
        }
        <% end -%>
    </style>
    <link rel="shortcut icon" href="<%=media%>/favicon.ico">
    <% if node and node.css then %>
    <link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
    <% end -%>
    <% if css then %>
    <style title="text/css">
        <%=css %>
    </style>
    <% end -%>
    <script src="<%=url('admin/translations', luci.i18n.context.lang)%>?v=2.2.5"></script>
    <script src="<%=resource%>/cbi.js?v=2.2.5"></script>
    <script src="<%=resource%>/xhr.js?v=2.2.5"></script>
    <script src="<%=media%>/js/jquery.min.js?v=2.2.5"></script>
    
</head>

<body
    class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><% end %> <% if luci.dispatcher.context.authsession then %>logged-in<% end %>"
    data-page="<%= table.concat(disp.context.requestpath, "-") %>">
    